@model DictionaryLookup.Models.DictionaryEntry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/DictionaryReports/Index.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DictionaryEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGramEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGramEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGramTagID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGramTagID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DictionaryEntryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
