@model IEnumerable<DictionaryLookup.Models.DictionaryEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/DictionaryReports/Index.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NGramEntryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGramTagID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NGramEntryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGramTagID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DictionaryEntryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DictionaryEntryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DictionaryEntryID })
        </td>
    </tr>
}

</table>
