@model DictionaryLookup.Models.NGramViewModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.NGramWordString)</h2>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Speller Restricted
        </dt>

        <dd>
            @(Model.Tags.Restricted ? "Yes" : "No")
        </dd>

        <dt>
            Offensive/Bad Word
        </dt>

        <dd>
            @(Model.Tags.TextPredictionBadWord ? "Yes" : "No")
        </dd>

        <dt>
            Speller Frequency
        </dt>

        <dd>
            @{switch (Model.Tags.SpellerFrequency)
            {
                case 0:
                    <text>Normal</text>
                    break;
                case 1:
                    <text>High</text>
                    break;
                case 2:
                    <text>Medium</text>
                    break;
                case 3:
                    <text>Low</text>
                    break;
                }
            }
        </dd>

        <dt>
            Text Prediction Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags.TextPredictionCost)
        </dd>

        <dt>
            Backoff Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags.TextPredictionBackOffCost)
        </dd>

        <dt>
            HWR Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags.HWRCost)
        </dd>

        <dt>
            HWR Callig
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tags.HWRCalligraphyCost)
        </dd>

    </dl>
</div>