@model DictionaryLookup.Models.DictionaryWord

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Word)</h2>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Restricted
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restricted)
        </dd>

        <dt>
            Bad Word
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextPredictionBadWord)
        </dd>

        <dt>
            Speller Frequency
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpellerFrequency)
        </dd>

        <dt>
            Text Prediction Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextPredictionCost)
        </dd>

        <dt>
            Backoff Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextPredictionBackOffCost)
        </dd>

        <dt>
            HWR Cost
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HWRWordCost)
        </dd>

        <dt>
            HWR Callig
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HWRCalligScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DictionaryWordID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
