@model IEnumerable<DictionaryLookup.Models.DictionaryWord>

@{
    ViewBag.Title = "Dictionary Search";
}

<h2>Dictionary Search</h2>

@using (Html.BeginForm())
{
    <p>
        Word: @Html.TextBox("word") <br />
        Prefix: @Html.TextBox("prefix") <br />
        <input type="submit" value="Search" />
    </p> 
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Word)
        </th>
        <th>
            TP cost
        </th>
        <th>
            BO cost
        </th>
        <th>
            Offensive term
        </th>
        <th>
            Report As
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Word, "Details", new { id = item.DictionaryWordID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextPredictionCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextPredictionBackOffCost)
            </td>
            <td>
                @(item.TextPredictionBadWord?"Yes":"")
            </td>
            <td>
                @Html.ActionLink("Misspelling", "ReportError", new { wordid = item.DictionaryWordID, errorid = 1 }) |
                @Html.ActionLink("Invalid", "ReportError", new { wordid = item.DictionaryWordID, errorid = 2 }) |
                @(item.TextPredictionBadWord ? @Html.ActionLink("Not Offensive", "ReportError", new { wordid = item.DictionaryWordID, errorid = 3 }) : @Html.ActionLink("Offensive", "ReportError", new { wordid = item.DictionaryWordID, errorid = 2 }))
            </td>
        </tr>
    }

</table>
