@model IEnumerable<DictionaryLookup.Models.DictionaryWord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Word)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dialect)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restricted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextPredictionCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextPredictionBackOffCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextPredictionBadWord)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Word)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Dialect)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Restricted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextPredictionCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextPredictionBackOffCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TextPredictionBadWord)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DictionaryWordID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DictionaryWordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DictionaryWordID })
        </td>
    </tr>
}

</table>
