@model IEnumerable<DictionaryLookup.Models.NGramViewModel>

@{
    ViewBag.Title = "Dictionary Search";
}

<h2>Dictionary Search</h2>

@using (Html.BeginForm())
{
    <p>
        Word: @Html.TextBox("word") <br />
        Prefix: @Html.TextBox("prefix") <br />
        <input type="submit" value="Search" />
    </p> 
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NGramWordString)
        </th>
        <th>
            TP cost
        </th>
        <th>
            Offensive term
        </th>
        <th>
            Report As
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.NGramWordString, "Details", new { id = item.DictionaryWordID })
            </td>
            <td>
                @{
                    double p = (item.Tags.TextPredictionCost == 255) ?
                            Math.Pow(10.0, -10.0) : Math.Pow(10.0, -8.0 * ((double)(item.Tags.TextPredictionCost) / 254.0));
                    string v = p.ToString("e3");
                }
                @Html.DisplayFor(modelItem => item.Tags.TextPredictionCost)
                @(" (" + v + ")")
            </td>
            <td>
                @(item.Tags.TextPredictionBadWord?"Yes":"")
            </td>
            <td>
                @Html.ActionLink("Misspelling", "ReportError", new { wordid = item.DictionaryWordID, errorid = 1 }) |
                @Html.ActionLink("Invalid", "ReportError", new { wordid = item.DictionaryWordID, errorid = 2 }) |
                @(item.Tags.TextPredictionBadWord ? @Html.ActionLink("Not Offensive", "ReportError", new { wordid = item.DictionaryWordID, errorid = 3 }) : @Html.ActionLink("Offensive", "ReportError", new { wordid = item.DictionaryWordID, errorid = 2 }))
            </td>
        </tr>
    }

</table>
