@model DictionaryLookup.Models.ErrorReportViewModel

@{
    ViewBag.Title = "Error Report";
}

<h2>Error Report</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Word
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nGramString)
        </dd>

        <dt>
            Language
        </dt>

        <dd>
            @Html.DisplayFor(model => model.languageName)
        </dd>

        <dt>
            Date/Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reportDateTime)
        </dd>

        <dt>
            Error Reported
        </dt>

        <dd>
            @Html.DisplayFor(model => model.errorName)
        </dd>

        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userName)
        </dd>

        <dt>
            Comments
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

    </dl>
</div>