@model IEnumerable<DictionaryLookup.Models.ErrorReportViewModel>

@{
    ViewBag.Title = "Error Reports";
}

<h2>Error Reports</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.languageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nGramString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reportDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.errorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.languageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nGramString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reportDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.errorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.dr })
        </td>
    </tr>
}

</table>
